{% extends "base.html" %}
{% block title %}Project{% endblock %}

{% block content %}
<div class="mt-5">
<div class="d-flex justify-content-sm-between my-4">
    <h3 class="">Projects</h3>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Create Project</button>
</div>
        <table class="table table-hover shadow-sm">
            <thead>
                <tr>
                    <th scope="col">Project Name</th>
                    <th scope="col">Key</th>
                    <th scope="col">Type</th>
                    <th scope="col">Lead</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td class="fw-semibold">
                        <a href="{% url 'project_detail' project.label %}" class="text-decoration-none" style="color: #3e98ff;">
                            {{ project.name }}
                        </a>
                    </td>
                    <td class="fw-semibold text-secondary">{{ project.label }}</td>
                    <td class="fw-semibold text-secondary">{{ project.type }}</td>
                    <td class="fw-semibold">
                        <a href="#" class="text-decoration-none gap-2" style="color: #3e98ff;">
                            <img src="{{ project.lead.user.profile.profile_image.url }}" alt="{{ project.lead }}" class="rounded-circle" width="30" height="30">  {{ project.lead }}
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No projects found yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}