{% extends 'base.html' %}
{% load static %}

{% block title %}Create Project{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group p-sm-4 bg-white">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="name" class="font-weight-bold">Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Project Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <label for="code" class="fw-semibold">Key</label>
                        <input type="text" class="form-control" id="code" name="code" placeholder="Key" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="type" class="fw-semibold">Type</label>
                        <select class="form-control" id="type" name="type">
                            <option value="1" class="form-select placeholder">Select project type</option>
                            {% for type in types %}
                            <option value="{{ type }}" class="form-select" {% if type == 1 %}selected {% endif %}>{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {{ form.as_p }}
                {{ form.media }}



            <!-- Submit Button -->
                <button type="submit" class="btn btn-sm btn-primary" href="{% url 'projects' %}">Create</button>
            </div>
        </form>
    </div>

{% endblock %}
