{% extends "base.html" %}
{% block title %}Summary - {{ project.name }}{% endblock %}

{% block content %}

    <div class="d-flex justify-content-sm-between mb-3">
        <div class="d-flex align-items-center gap-2">
            <a href="{% url 'projects' %}" class="text-decoration-none text-dark eme01">Projects</a> /
            <a href="{% url 'project_detail' project.label %}" class="text-decoration-none text-dark eme01">{{ project.name }}</a> /
            <a href="{% url 'project_detail' project.label %}" class="text-decoration-none text-dark eme01">Summary</a>
        </div>
        <a href="{% url 'task_create' project.label %}" class="btn btn-sm btn-primary">Create Task</a>
    </div>

    <div class="my-sm-2">
        {% include "tabs.html" %}
    </div>
        <div class="row">
            <!-- Donut Chart -->
            <div class="col">
                <div class="p-4 bg-white shadow-sm rounded">
                    <p class="fw-semibold fs-6">Status Overview</p>
                    <div class="mx-3">
                    <p class="eme01">Get a snapshot of the status of your tasks. <a href="{% url 'task_lists' project.label %}" class="text-decoration-none">View all tasks</a></p>
                    <canvas id="doughnutChart" class="w-100 h-100" style="max-height: 280px;"></canvas>
                    <script>
                        var doughnutCtx = document.getElementById('doughnutChart').getContext('2d');
                        var doughnutChart = new Chart(doughnutCtx, {
                            type: 'doughnut',
                            data: {
                                labels: {{ task_statuses|safe }},  // Pass task statuses safely as JS array
                                datasets: [{
                                    data: {{ task_counts|safe }},  // Pass task status counts safely as JS array
                                    backgroundColor: [
                                        'rgb(255,99,132)',
                                        'rgb(48,205,106)',
                                        'rgba(255, 205, 86)',
                                        'rgba(75, 192, 192)',
                                        'rgba(54, 162, 235)',
                                        'rgba(153, 102, 255)',
                                        'rgba(201, 203, 207)'
                                    ],
                                    hoverOffset: 3
                                }]
                            }
                        });
                    </script>
                </div>
                </div>
            </div>

            <!-- Project description -->
            <div class="col">
                <div class="p-4 overflow-auto bg-white shadow-sm rounded w-100 h-100" style="max-height: 400px;">
                    <p class="fw-semibold fs-6">Project Description</p>
                    <div class="mx-3">
                        <p class="fw-medium eme01">{{ project.description|safe }}</p>
                    </div>
                </div>
            </div>

            <!-- Recent Comments -->
            <div class="col">
                <div class="p-4 overflow-auto bg-white shadow-sm rounded w-100 h-100" style="max-height: 400px;">
                    <p class="fw-semibold fs-6">Recent Comments</p>
                    <ul class="list-group list-group-flush">
                        {% for task in project.tasks.all %}
                            {% for comment in task.comments.all %}
                                <li class="list-group-item gap-sm-1">
                                    <p class="fw-semibold eme01 my-sm-0">{{ task.unique_id }}:
                                        <span class="eme01 fw-medium my-0">{{ comment.comments_message }} <span class="eme01 fw-lighter mt-0">comment by <a href="" class="text-primary text-decoration-none mb-sm-0">{{ comment.user.first_name }}</a></span></span></p>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-flex mt-5 gap-5">
            <div class="col">
                <div class="p-4 bg-white shadow-sm rounded">
                    <p class="fw-semibold fs-6">Priority breakdown</p>
                    <canvas id="barChart" class="w-100 h-100"></canvas>
                    <script>
                        var ctx = document.getElementById('barChart').getContext('2d');
                        var barChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: {{ task_priorities|safe }},  // Safely pass task priority labels
                                datasets: [{
                                    label: 'Task Priorities',  // Provide a meaningful label for the bar chart
                                    data: {{ task_priority_counts|safe }},  // Safely pass priority counts as JS array
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(255, 205, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(201, 203, 207, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgb(255, 99, 132)',
                                        'rgb(255, 159, 64)',
                                        'rgb(255, 205, 86)',
                                        'rgb(75, 192, 192)',
                                        'rgb(54, 162, 235)',
                                        'rgb(153, 102, 255)',
                                        'rgb(201, 203, 207)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        ticks: {
                                            callback: function(value) {
                                                return Number.isInteger(value) ? value : null;
                                            },
                                            stepSize: 1
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>

            <!-- Team workload -->
            <div class="col">
                <div class="row p-4 bg-white shadow-sm rounded">
                    <p class="fw-semibold fs-6">Team workload</p>
                    <div class="col">
                        <canvas id="barChart2" class="w-100 h-100"></canvas>
                        <script>
                        var ctx2 = document.getElementById('barChart2').getContext('2d');
                        var barChart2 = new Chart(ctx2, {
                            type: 'bar',  // Horizontal bar chart
                            data: {
                                labels: [
                                    {% for user in unique_assigned_users %}
                                        '{{ user }}',
                                    {% endfor %}
                                ],
                                datasets: [{
                                    label: 'Task Assignment (%)',
                                    data: [
                                        {% for user, percentage in user_task_percentages %}
                                            {{ percentage }},
                                        {% endfor %}
                                    ],
                                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                indexAxis: 'y',  // Horizontal chart
                                scales: {
                                    x: {
                                        beginAtZero: true,
                                        ticks: {
                                            callback: function(value) {
                                                return value + '%';  // Show percentage
                                            }
                                        }
                                    }
                                },
                                plugins: {
                                    tooltip: {
                                        callbacks: {
                                            label: function(tooltipItem) {
                                                return tooltipItem.raw + '%';  // Display percentage in tooltip
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                    </div>
                </div>
            </div>
        </div>

<script>
    CKEDITOR.on('instanceReady', function (ev) {
        if (ev.editor.name === 'comments_message') {
            ev.editor.config.autoParagraph = false;
            ev.editor.config.enterMode = CKEDITOR.ENTER_BR;
            ev.editor.config.shiftEnterMode = CKEDITOR.ENTER_P;
        }
    });
</script>

{% endblock %}
