{% extends 'base.html' %}
{% load static %}

{% block title %}Create Project{% endblock %}

{% block content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                <div class="form-group my-sm-2 col-sm-4">
                    <label class="mb-sm-1">Team Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Team Name">
                </div>
                <div class="form-group my-sm-2">
                    <label  class="mb-sm-1">Team Description</label>
                    <div class="">{{ form.about_info }}</div>
                </div>
                <div class="form-group col-sm-5">
                    <label class="mb-sm-1">Members</label>
                    <select class="form-select select2" name="user_id" id="user_id" multiple>
                        {% for user in users %}
                            <option value="{{ user.id }}" data-image="{{ user.profile.profile_image.url }}">
                                {{ user.get_full_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Create Team</button>
            </div>
        </div>
    </form>


{{ form.media }}
<script>
$(document).ready(function () {
    function formatUser(user) {
        if (!user.id) return user.text;
        let img = $(user.element).data('image');
        return $(
            `<span><img src="${img}" class="me-2 rounded-circle" width="30" height="30"/>${user.text}</span>`
        );
    }

    $('#user_id').select2({
        templateResult: formatUser,
        templateSelection: formatUser,
        placeholder: "Select team members",
        width: '100%'
    });
});
</script>

{% endblock %}
