/*.emx4{*/
/*    border-color: rebeccapurple;*/
/*    border-right: 3px;*/
/*}*/

.emx3{
    font-family: sans-serif;
    background-color: #ffffff;
    /* background-color: rgb(246,248,255); */
}
.eme01{
    font-size: 13px;
    font-family: sans-serif;
}
.eme02{
    font-size: 11px;
    font-style: italic;
}

.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 0.8rem;
}

.underline-hover-active {
  text-decoration: none;
  position: relative;
}

.underline-hover-active::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-hover-active:hover::after,
.underline-hover-active:active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Custom Browse button */
/* Custom Browse button */
#browseButton {
    cursor: pointer;
}

/* Drag-and-drop area styling */
.drag-drop-area {
    border: 2px dashed #007bff;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.drag-drop-area.drag-over {
    background-color: #e9ecef;
    border-color: #0056b3;
}

/* File preview container */
.file-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

/* Adjust the style of the file preview container */
.file-preview-item {
    display: inline-block;
    width: 120px;
    text-align: center;
    position: relative;
    margin: 5px;
}

.file-preview-item img, .file-preview-item canvas {
    max-width: 100px;  /* Set the maximum width for thumbnails */
    height: auto;      /* Maintain aspect ratio */
    border-radius: 5px;
}

.file-preview-item pre {
    font-size: 12px;
    max-height: 50px;
    overflow-y: auto;
}

.file-preview-item span {
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
.ui-state-highlight {
    height: 100px;
    background: #e6e6e6;
    border: 2px dashed #ccc;
    margin-bottom: 1rem;
}
.tilt {
    transform: rotate(1deg);
}

