<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CTS - Project Management System{% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/coreui.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/coreui.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body class="emx3">

    <nav class="emx44 navbar navbar-expand-lg navbar-light px-1 fixed-top navbg">
        {% include "navbar.html" %}
    </nav>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-2">
                {% include "sidebar.html" %}

        </div>


        <main class="col overflow-auto h-100 py-5 ps-2 pe-5 m-auto">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    </div>
</body>
</html>
