{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <p class="fs-4 py-3 fw-semibold">Welcome to Dashboard, <span class="fw-semibold fs-5 text-info">{{ user.first_name }}</span></p>
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center bg-white shadow-sm rounded gap-3 fw-semibold">
            <div class="d-flex align-items-center p-3 gap-2">
                <i class="fa fa-project-diagram" style="font-weight: 500; color: #3d99f5;"></i> Total Project <span style="font-weight: 500; color: #dc3545;"> {{ prj_no }}</span>
            </div>
            <div class="d-flex align-items-center p-3 gap-2 fw-semibold">
                <i class="fa-solid fa-list-check" style="font-weight: 500; color: #3d99f5;"></i> Total Task <span style="font-weight: 500; color: #dc3545;">{{ ts_no }}</span>
            </div>
            <div class="d-flex align-items-center p-3 gap-2 fw-semibold">
                <i class="fa-solid fa-user-group" style="font-weight: 500; color: #3d99f5;"></i> Team <span style="font-weight: 500; color: #dc3545">{{ team.count }}</span>
            </div>
        </div>
    </div>
    
    <div class="d-flex mt-5 gap-3">
        <div class="p-5 rounded bg-white shadow-sm">
            <canvas id="barChart" width="450" height="300"></canvas>
        </div>

        <div class="p-5 rounded bg-white shadow-sm">
            <canvas id="doughnutChart" width="330"></canvas>
        </div>
            <div class="p-4 rounded bg-white shadow-sm">
            <canvas id="lineChart" width="480" height="330"></canvas>
        </div>
    </div>
{% block extra_js %}
<!-- Script for Chart.js -->
    <script>
        // Bar Chart
        var ctx = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ project_labels|safe }},  // Safely pass the project labels as a JS array
                datasets: [{
                    label: 'Project Task Count',
                    data: {{ project_task_counts|safe }},  // Safely pass the project task counts as a JS array
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 205, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                      'rgb(255, 99, 132)',
                      'rgb(255, 159, 64)',
                      'rgb(255, 205, 86)',
                      'rgb(75, 192, 192)',
                      'rgb(54, 162, 235)',
                      'rgb(153, 102, 255)',
                      'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function(value) {
                                return Number.isInteger(value) ? value : null;
                            },
                            stepSize: 1
                        }
                    }
                }
            }
        });

        // Doughnut Chart
        var doughnutCtx = document.getElementById('doughnutChart').getContext('2d');
        var doughnutChart = new Chart(doughnutCtx, {
            type: 'doughnut',
            data: {
                labels: {{ project_labels|safe }},  // Safely pass project labels as labels
                datasets: [{
                    data: {{ project_task_counts|safe }},  // Task counts per project (ensure it's an array)
                    backgroundColor: [
                      'rgb(255,99,132)',
                      'rgb(48,205,106)',
                      'rgba(255, 205, 86)',
                      'rgba(75, 192, 192)',
                      'rgba(54, 162, 235)',
                      'rgba(153, 102, 255)',
                      'rgba(201, 203, 207)'
                    ],
                    hoverOffset: 4
                }]
            }
        });


        // Line Chart
        var lineCtx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(lineCtx, {
            type: 'line',
            data: {
                labels: {{ project_labels|safe }},  // Project names as labels on x-axis
                datasets: [{
                    label: 'Task Count per Project',
                    data: {{ project_task_counts|safe }},  // Task counts per project
                    borderColor: 'rgb(75, 192, 192)',  // Line color
                    tension: 0.1,
                    fill: false
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function(value) {
                                return Number.isInteger(value) ? value : null;
                            },
                            stepSize: 1
                        }
                    }
                }
            }
        });

    </script>
{% endblock %}



  <div class="gap-5 justify-content-center mt-5">
    <div class="row">
    <div class="col">
        <h4 class="p-2 bg-white shadow-sm rounded">Ongoing Projects</h4>
        <table class="table table-hover table-striped shadow-sm">
            <thead>
                <tr>
                    <th scope="col">Project Name</th>
                    <th scope="col">Key</th>
                    <th scope="col">Type</th>
                    <th scope="col">Lead</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td class="fw-semibold eme01">
                        <a href="{% url 'project_detail' project.label %}" class="text-decoration-none text-dark">
                            {{ project.name }}
                        </a>
                    </td>
                    <td class="fw-semibold eme01">
                        <a href="{% url 'project_detail' project.label %}" class="text-decoration-none text-dark">
                            {{ project.label }}
                        </a>
                    </td>
                    <td class="fw-semibold eme01 text-secondary">{{ project.type }}</td>
                    <td class="fw-semibold eme01">
                        <a href="{% url 'profile' user.profile.id %}" class="text-decoration-none text-dark">
                            {{ project.lead }}
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No projects found yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="col">
        <h4 class="p-2 bg-white shadow-sm rounded">Ongoing Tasks</h4>
        <table class="table table-hover table-striped shadow-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Task Name</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assignment</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <th scope="row" class="fw-semibold eme01">
                        <a href="{% url 'task_detail' task.project.label task.unique_id %}" class="text-decoration-none text-dark">
                            {{ task.unique_id }}
                        </a>
                    </th>
                    <td class="fw-semibold eme01">
                        <a href="{% url 'task_detail' task.project.label task.unique_id %}" class="text-decoration-none text-dark">
                            {{ task.summary }}
                        </a>
                    </td>
                    <td class="fw-semibold eme01 text-secondary">{{ task.priority }}</td>
                    <td class="fw-semibold eme01 text-secondary">{{ task.status }}</td>
                    <td class="fw-semibold eme01 text-secondary">
                        <a href="{% url 'profile' task.assigned_to.user.profile.id %}" class="text-decoration-none text-dark">
                            {{ task.assigned_to.full_name }}
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No tasks found yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
  </div>
{% endblock %}


{#{% url 'profile' project.lead.full_name %}#}
{#{% url 'profile' task.assigned_to.full_name %}#}