{% load static %}
<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
<div class="container-fluid">
    <!-- Logo Section -->
    <a class="text-decoration-none" href="{% url 'dashboard' %}">
        <div class="d-flex gap-2 text-white">
            <img src="{% static 'image/Flowtrex-icon.png' %}" alt="Flowtrex" height="30">
            <span class="fw-bold align-content-center fs-5">Flowtrex</span>
        </div>
    </a>

    <!-- Navbar Toggle for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav d-flex align-items-center gap-3">
            <!-- Search Box -->
            <div class="nav-item">
                <form id="search-form" class="d-flex align-items-center position-relative">
                    <i class="fa fa-search position-absolute top-50 translate-middle-y"
                       style="left: 10px;"></i>
                    <input type="text" id="search_input" class="form-control border-0 form-input shadow-sm" style="text-indent: 30px;" placeholder=" Search "/>
                </form>
                <div id="search-results"></div>
            </div>
            <!-- Notifications Icon -->
            <div class="nav-item mt-1">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-bell fs-5 text-white shadow-sm"></i>
                </a>
            </div>
            <div class="nav-item mt-1">
                <a class="nav-link" href="{% url 'settings' %}">
                    <i class="fa-solid fa-gear fs-5 text-white shadow-sm"></i>
                </a>
            </div>

            <!-- User Profile and Dropdown -->
            <div class="nav-item dropdown">
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" id="profileDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.profile.profile_image and user.profile.profile_image.url %}
                        <img src="{{ user.profile.profile_image.url }}" alt="{{ user.profile.full_name }}"
                             class="rounded-circle" height="38px" width="38px">
                    {% else %}
                        <img src="{% static 'image/user.png' %}" alt="{{ user.profile.full_name }}"
                             class="rounded-circle" height="38px" width="38px">
                    {% endif %}
                </a>
                <ul class="dropdown-menu round-0 dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'profile' user.profile.id %}">
                            <span style="color: blueviolet;">
                                <i class="fa-solid fa-user" aria-hidden="true"></i> Profile
                            </span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <span style="color: cornflowerblue;">
                                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                            </span>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
