{% load static %}

    <div class="container-fluid">
        <!-- Logo -->
        <a class="d-flex gap-2 text-decoration-none" href="{% url 'dashboard' %}">
            <img src="{% static 'image/cts-icon.png' %}" alt="Logo" height="50">
            <p class="fw-bold text-white">Cyber and Tech</br>Solution</p>
        </a>

    </div>

    <div class="navbar justify-content-end" id="navbarNav">
        <div class="navbar-nav d-flex gap-3">
                <!-- Dashboard Link -->
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="fas fa-bell fs-4 text-white shadow-sm"></i>
            </a>

                <!-- Search Box -->
            <div class="container-fluid">
                <form id="search-form" class="d-flex align-item-center position-relative">
                    <i class="fa fa-search position-absolute top-50 translate-middle-y" style="left: 10px"></i>
                    <input type="text" id="search_input" class="form-control form-input shadow-sm" style="text-indent: 30px;" placeholder="Search">
                </form>
                <div id="search-results"></div>
            </div>
                <!-- Right side -->
            <ul class="navbar-nav">
                <!-- Display the logged-in user's profile -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.people.image.url }}" alt="{{ people.full_name }}" class="rounded-circle" height="60px">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                <span style="color: blueviolet;">
                                    <i class="fa-solid fa-user" aria-hidden="true"></i> Profile
                                </span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <span style="color: cornflowerblue;">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>




{#{% url 'profile' peoples.full_name %}#}