<div class="sidebar">
    <ul class="list-unstyled p-3">
        <!-- Home link -->
        <li class="py-2">
            <a href="{% url 'dashboard' %}" class="d-flex align-items-center fs-6 text-decoration-none" style="font-weight: 500; color: #3d99f5;">
                <i class="fa-solid fa-house me-2"></i> Home
            </a>
        </li>

        <!-- My tasks link -->
        <li class="py-2">
            <a href="#" class="d-flex align-items-center fs-6 text-decoration-none" style="font-weight: 500; color: #3d99f5;">
                <i class="fa-solid fa-list-check me-2"></i> My Tasks
            </a>
        </li>

        <!-- Messages link -->
        <li class="py-2">
            <a href="#" class="d-flex align-items-center fs-6 text-decoration-none" style="font-weight: 500; color: #3d99f5;">
                <i class="fa-solid fa-message me-2"></i> Messages
            </a>
        </li>

        <!-- Divider -->
        <hr>

        <!-- Projects link (Dropdown) -->
        <li>
            <a class="d-flex align-items-center fs-6 text-decoration-none" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="font-weight: 500; color: #3d99f5;">
                <i class="fas fa-project-diagram me-2"></i> Projects
            </a>
            <ul class="collapse list-group list-group-flush" id="collapseExample">
                {% for project in projects %}
                <li class="list-group-item">
                    <a href="{% url 'project_detail' project.label %}" class="dropdown-item" style="font-weight: 500; color: #dc3545;">
                        <i class="fa-solid fa-square-caret-right"></i> {{ project.label }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <!-- Footer -->
    <div class="sidebar-footer">
        <p class="ms-3 mb-0 fw-semibold">Version 1.0.1</p>
    </div>
</div>
