{% load static %}
{% load bootstrap5 %}

<!-- Loading Bootstrap CSS in the <head> section -->
<head>
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
</head>

<body class="vh-100">

    <div class="row h-100">
        <!-- Left Section (Logo and Text) -->
        <div class="col-md-6 d-flex flex-column d-none d-md-flex align-items-center justify-content-center bg-success">
            <div class="text-center">
                <!-- Replace with your logo path -->
                <img src="{% static 'image/flowtrex-icon.png' %}" alt="Flowtrex" width="120">
                <p class="mb-1 fw-bold fs-2 text-white">Flowtrex</p>
                <p class="mt-1 text-white">CTS Employee Login</p>
            </div>
        </div>

        <!-- Right Section (Login Form) -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="w-100" style="max-width: 400px;">
                {% if messages %}
                    <ul class="messages list-unstyled">
                        {% for message in messages %}
                            <li class="alert {{ message.tags }}" style="color: #3d99f5">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    <!-- Username input -->
                    <div class="form-outline row mb-4">
                        <label class="col form-label fw-bold" for="username">Username</label>
                        <input type="text" placeholder="Your Username" id="username" name="username" class="form-control col" required />
                    </div>
                    
                    <!-- Password input -->
                    <div class="form-outline row mb-4">
                        <label class="form-label col fw-bold" for="password">Password</label>
                        <input type="password" placeholder="Your Password" id="password" name="password" class="form-control col" required />
                    </div>
                    
                    <!-- Sign In Button -->
                    <div class="text-center">
                        <input type="submit" value="Log In" class="btn btn-success btn-block mb-4">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Loading Bootstrap JavaScript -->
    {% bootstrap_javascript %}
</body>
