<!-- templates/login.html -->

    
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>

<body class="vh-100">

        <div class="row h-100">
            <!-- Left Section -->
            <div class="col-md-6 d-flex flex-column d-none d-md-flex align-middle justify-content-center bg-success">
                    <!-- Replace with your logo path -->
                <div class="text-center">
                    <img src="{% static 'image/flowtrex-icon.png' %}" alt="Logo" style="max-width: 200px;">
                    <h2 class="mt-2 text-white">Cyber and Tech Solution</h2>
                    <p class="text-white">CTS Employee Login</p>
                </div>
            </div>
            
            <!-- Right Section -->
            <div class="col-md-6 right d-flex align-items-center justify-content-center">
                <div class="w-100" style="max-width: 400px;">
                    {% if messages %}
                        <ul class="messages list-unstyled">
                            {% for message in messages %}
                                <li class="alert {{ message.tags }}" style="color: #3d99f5">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        
                        <!-- Username input -->
                        <div class="form-outline mb-4">
{#                            <label class="form-label" for="username">Username</label>#}
                            <input type="text" placeholder="Your Username" id="username" name="username" class="form-control" required />
                        </div>
                        
                        <!-- Password input -->
                        <div class="form-outline mb-4">
{#                            <label class="form-label" for="password">Password</label>#}
                            <input type="password" placeholder="Your Password" id="password" name="password" class="form-control" required />
                        </div>
                        <div class="text-center">
                        <!-- Sign In Button -->
                            <input type="submit" value="Log In" class="btn btn-success btn-block mb-4">
                        </div>
                    </form>
                </div>
            </div>
        </div>

</body>