{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb -->
<div class="d-flex justify-content-sm-between mb-3">
    <div class="d-flex align-items-center gap-2">
{#        <a href="{% url 'projects' %}" class="text-decoration-none text-dark">Projects</a> /#}
{#        <a href="{% url 'project_detail' project.label %}" class="text-decoration-none text-dark">{{ project.name }}</a> /#}
{#        <a href="{% url 'calendar_view' project.label %}" class="text-decoration-none text-dark">Calendar</a>#}
    </div>
{#    <a href="{% url 'task_create' project.label %}" class="btn btn-sm btn-primary">Create Task</a>#}
</div>

{#{% include "tabs.html" %}#}

  <div id="calendar" style="height: 800px;"></div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const Calendar = toastui.Calendar;

      const calendar = new Calendar('#calendar', {
        defaultView: 'month',
        taskView: true,
        scheduleView: ['time'],
        useDetailPopup: true,
        useFormPopup: false,
        calendars: [
          {
            id: '1',
            name: 'Tasks',
            backgroundColor: '#357edd',
            borderColor: '#357edd'
          },
          {
            id: '2',
            name: 'Meetings',
            backgroundColor: '#fa8c16',
            borderColor: '#fa8c16'
          }
        ]
      });

      const events = {{ events|safe }};
      calendar.createSchedules(events);

      calendar.on('clickSchedule', function(event) {
        const url = event.schedule.raw.url;
        if (url) {
          window.location.href = url;
        }
      });
    });
  </script>
{% endblock %}

