{% extends 'base.html' %}
{% load static %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class="container container-fluid">
    <div class="d-flex justify-content-sm-between">
        <div class="d-flex align-items-center justify-content-sm-start gap-2">
            <a href="{% url 'projects' %}" class="text-decoration-none text-dark eme01">Projects</a> /
            <a href="{% url 'project_detail' project.label %}" class="text-decoration-none text-dark eme01"> {{ project.name }}</a> /
            <a href="{% url 'task_lists' project.label %}" class="text-decoration-none text-dark eme01"> Lists</a>
        </div>

        <!-- Use <a> tag to properly link to the task creation page for the project -->
        <a href="{% url 'task_create' project.label %}" class="btn bg-primary-subtle eme01 my-sm-2">Create Task</a>
    </div>
    <div class="my-sm-2">
        {% include "tabs.html" %}
    </div>
    <table class="table shadow-sm">
        <thead>
            <tr>
                <th>Key</th>
                <th>Summary</th>
                <th>Assigned To</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Priorities</th>
                <th>Status</th>
                <th>Reporter</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    <a href="{% url 'task_detail' task.project.label task.unique_id %}" class="text-decoration-none text-dark">{{ task.unique_id }}</a>
                </td>
                <td>
                    <a href="{% url 'task_detail' task.project.label task.unique_id %}" class="text-decoration-none text-dark">{{ task.summary }}</a>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm p-0 m-0">
                        {{ task.assigned_to }}
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm p-0 m-0">
                        {{ task.start_date.date }}
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm p-0 m-0">
                        {{ task.due_date.date }}
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm p-0 m-0">
                        {{ task.priority }}
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm p-0 m-0">
                        {{ task.status }}
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm p-0 m-0">
                        {{ task.reporter }}
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
